$PROB
# Model: `{{&id}}`
  - Title: {{&id}}
  - Notes: Generated automatically from DynMS
  - Source: DynMSR

$SET end=120, delta=0.1, hmax=0.01, hmin=0.0, rtol=1e-3, atol=1e-6

$PARAM @annotated
// constants
{{#constants}}
{{&id}} : {{&value}} : {{&title}}
{{/constants}}
// events active
{{#events}}
{{&id}}__active__ : {{&active_value}} : -
{{/events}}

$INIT @annotated
// dynamic states
{{#dynamic_states}}
{{&id}} : {{&initial_value}} : {{&title}}
{{/dynamic_states}}

$PREAMBLE
// static states
{{#static_states}}
double {{&id}} = 0.0; // {{&title}}
{{/static_states}}
// triggers
{{#non_time_events}}
bool {{&id}}__pull__ = false;
int {{&id}}__charge__ = 0;
{{/non_time_events}}

$MAIN
// dynamic states initializations
{{#dynamic_expression_initials}}
{{&id}}_0 = {{&initial_expr}};
{{/dynamic_expression_initials}}
if (NEWIND <= 1) {
// static states initializations
{{#static_states}}
{{&id}} = {{&initial_expr}};
{{/static_states}}
// triggers
{{#non_time_events}}
{{&id}}__pull__ = {{&initial_pull}};
{{&id}}__charge__ = 0;
{{/non_time_events}}
// time events
{{#time_events}}
self.mevent({{&start_expr}}, {{&time_index}});
{{/time_events}}
 } // end NEWIND initialization

$ODE
// assignments
{{#assignments}}
double {{&id}} = {{&rhs_expr}}; // {{&title}}
{{/assignments}}
// triggers
{{#non_time_events}}
bool {{&id}}__trigger__ = ({{&trigger_expr}}){{&trigger_suffix}};
if ({{&id}}__trigger__ && !{{&id}}__pull__ && {{&id}}__active__) {
  {{&id}}__pull__ = true;
  {{&id}}__charge__++;
 } // end trigger activation
if (!{{&id}}__trigger__) {
  {{&id}}__pull__ = false;
 } // end trigger reset
{{/non_time_events}}
// derivatives
{{#derivatives}}
dxdt_{{&state}} = {{&rhs_expr}};
{{/derivatives}}

{{#has_captured_observables}}
$CAPTURE @annotated
{{#captured_observables}}
{{&symbol}} : {{&title}}
{{/captured_observables}}
{{/has_captured_observables}}

{{#has_events}}
$TABLE
{{#events}}
// {{&id}} // {{&title}}
{{#is_time}}
if ({{&id}}__active__ && EVID=={{&time_index}}) {
{{#actions}}
{{#dynamic}}
  mrg::evdata {{&event_var}}(TIME, 8);
  {{&event_var}}.amt = {{&rhs_expr}};
  {{&event_var}}.cmt = {{&cmt}};
  {{&event_var}}.now = true;
  self.mevector.push_back({{&event_var}});
{{/dynamic}}
{{#static}}
  {{&state}} = {{&rhs_expr}};
{{/static}}
{{/actions}}
{{#has_period}}
  // next event
{{#has_stop}}
  if (TIME < {{&stop_expr}}) {
    self.mevent(TIME + {{&period_expr}}, {{&time_index}});
  }
{{/has_stop}}
{{^has_stop}}
  self.mevent(TIME + {{&period_expr}}, {{&time_index}});
{{/has_stop}}
{{/has_period}}
 } // end time event
{{/is_time}}
{{#is_non_time}}
for (int {{&id}}__i__ = 0; {{&id}}__i__ < {{&id}}__charge__; {{&id}}__i__++) {
{{#actions}}
{{#dynamic}}
  mrg::evdata {{&event_var}}(TIME, 8);
  {{&event_var}}.amt = {{&rhs_expr}};
  {{&event_var}}.cmt = {{&cmt}};
  {{&event_var}}.now = true;
  self.mevector.push_back({{&event_var}});
{{/dynamic}}
{{#static}}
  {{&state}} = {{&rhs_expr}};
{{/static}}
{{/actions}}
 } // end event loop
{{&id}}__charge__ = 0;
{{/is_non_time}}

{{/events}}
{{/has_events}}
