$PROB
# Model: `{{&id}}`
  - Title: {{&id}}
  - Notes: Generated automatically from DynMS
  - Source: DynMSR
{{#has_renamed_identifiers_}}
  - Renamed identifiers:
{{#renamedIdentifiers}}
    - `{{&original}}` -> `{{&renamed}}`
{{/renamedIdentifiers}}
{{/has_renamed_identifiers_}}

$SET end=120, delta=0.1, hmax=0.01, hmin=0.0, rtol=1e-3, atol=1e-6

$PARAM @annotated
// constants
{{#constants}}
{{&id}} : {{&value_expr_}} : {{&title}}
{{/constants}}
// events active
{{#timeEvents}}
{{&id}}__active__ : {{&active_value_}} : -
{{/timeEvents}}
{{#events}}
{{&id}}__active__ : {{&active_value_}} : -
{{/events}}

$INIT @annotated
// dynamic states
{{#dynamic}}
{{&id}} : {{&initial_value_}} : {{&title}}
{{/dynamic}}

$PREAMBLE
#include <limits>
// static states
{{#static}}
double {{&id}} = 0.0; // {{&title}}
{{/static}}
// triggers
{{#events}}
bool {{&id}}__pull__ = false;
int {{&id}}__charge__ = 0;
{{/events}}

$MAIN
// dynamic states initializations
{{#dynamic}}
{{#has_expression_initial_}}
{{&id}}_0 = {{&initial_expr_}};
{{/has_expression_initial_}}
{{/dynamic}}
if (NEWIND <= 1) {
// static states initializations
{{#static}}
{{&id}} = {{&initial_expr_}};
{{/static}}
// triggers
{{#events}}
{{&id}}__pull__ = {{&trigger.initial_pull_}};
{{&id}}__charge__ = 0;
{{/events}}
// time events
{{#timeEvents}}
self.mevent({{&trigger.start_expr_}}, {{&time_index_}});
{{/timeEvents}}
 } // end NEWIND initialization

$ODE
// assignments
{{#assignments}}
double {{&id}} = {{&rhs_expr_}}; // {{&title}}
{{/assignments}}
// triggers
{{#events}}
bool {{&id}}__trigger__ = ({{&trigger.trigger_expr_}}){{&trigger.trigger_suffix_}};
if ({{&id}}__trigger__ && !{{&id}}__pull__ && {{&id}}__active__) {
  {{&id}}__pull__ = true;
  {{&id}}__charge__++;
 } // end trigger activation
if (!{{&id}}__trigger__) {
  {{&id}}__pull__ = false;
 } // end trigger reset
{{/events}}
// derivatives
{{#dynamic}}
dxdt_{{&id}} = {{&derivative_expr_}};
{{/dynamic}}

{{#has_captured_observables_}}
$CAPTURE @annotated
{{#observables}}
{{#captured_}}
{{&symbol}} : {{&title}}
{{/captured_}}
{{/observables}}
{{/has_captured_observables_}}

{{#has_events_}}
$TABLE
{{#timeEvents}}
// {{&id}} // {{&title}}
if ({{&id}}__active__ && EVID=={{&time_index_}}) {
{{#actions}}
{{#dynamic_}}
  mrg::evdata {{&event_var_}}(TIME, 8);
  {{&event_var_}}.amt = {{&rhs_expr_}};
  {{&event_var_}}.cmt = {{&cmt_}};
  {{&event_var_}}.now = true;
  self.mevector.push_back({{&event_var_}});
{{/dynamic_}}
{{#static_}}
  {{&state}} = {{&rhs_expr_}};
{{/static_}}
{{/actions}}
{{#trigger.has_period_}}
  if ({{&trigger.period_expr_}} > 0.0) {
    // next event
{{#trigger.has_stop_}}
    if (TIME < {{&trigger.stop_expr_}}) {
      self.mevent(TIME + {{&trigger.period_expr_}}, {{&time_index_}});
    }
{{/trigger.has_stop_}}
{{^trigger.has_stop_}}
    self.mevent(TIME + {{&trigger.period_expr_}}, {{&time_index_}});
{{/trigger.has_stop_}}
  }
{{/trigger.has_period_}}
 } // end time event

{{/timeEvents}}
{{#events}}
// {{&id}} // {{&title}}
for (int {{&id}}__i__ = 0; {{&id}}__i__ < {{&id}}__charge__; {{&id}}__i__++) {
{{#actions}}
{{#dynamic_}}
  mrg::evdata {{&event_var_}}(TIME, 8);
  {{&event_var_}}.amt = {{&rhs_expr_}};
  {{&event_var_}}.cmt = {{&cmt_}};
  {{&event_var_}}.now = true;
  self.mevector.push_back({{&event_var_}});
{{/dynamic_}}
{{#static_}}
  {{&state}} = {{&rhs_expr_}};
{{/static_}}
{{/actions}}
 } // end event loop
{{&id}}__charge__ = 0;

{{/events}}
{{/has_events_}}
